
* { padding: 0; margin:0; }

nav {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  border: 5px solid black;
}

nav .nav-header {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
}

nav .nav-menu {
  display: flex;
}

nav .nav-menu .nav-menu-item {
  flex: 1;
  min-height: 30px;
  border-right: 5px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 120px;
}

.section {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#call-to-action {
  width: 400px;
  height: 200px;

  display: inline-block;
  border: 5px solid;
  border-color: #999 #555;
  border-radius: 5px;

  font-size: 30px;

  cursor: pointer;

  transition: margin 100ms, box-shadow 90ms;
}

#call-to-action > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.shadow-change {
  box-shadow: 20px 20px 20px #000;
}

.shadow-change:active {
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 0 0 !important;
}

@media (max-width: 420px) {
  nav .nav-header {
    font-size: 25px;
  }

  #call-to-action {
    width: 300px;
    height: 150px;
  }
}
