
* { padding: 0; margin:0; }

#hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 400px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -10px;
  margin-left: -10px;
  box-shadow: 20px 20px 20px #000;
  border: 5px solid black;
  border-radius: 5px;

  font-size: 30px;

  cursor: pointer;

  transition: margin 100ms, box-shadow 90ms;
}
#box:active {
  margin-top: 0;
  margin-left: 0;
  box-shadow: 0 0 0 !important;
}
